.Header {
    background-color: #1E1E1E;
    max-height: 85px;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    gap: 32px;
}
.Left-Header {
    display: flex;
    gap: 32px;
    margin-left: 60px;
}
.Search {
    display: flex;
    gap: 10px;
    margin-left: 20%;
}
.Right-Header {
    display: flex;
    margin-left: 90px;
}